@import "../lib/defs.less";


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: Droid Sans, sans-serif;
  font-size: 13px;
}

* {
  // disable iOS / Android tap highlighting
  -webkit-tap-highlight-color: transparent;
}

@thin-breakpoint: 420px;

body.page {
  header > .container, footer > .container, nav > .container, .container.main {
    max-width: 930px;
    padding: 0 30px;
    margin: 0 auto;

    @media (max-width: @thin-breakpoint) {
      padding: 0 20px;
    }
  }

  header {
    position: relative;
    background: white;
    border-bottom: 10px solid @brand-color;
    padding: 14px 0;
    box-shadow: 0 0 8px fade(black, 25%);
    z-index: 10;

    .logo {
      color: black;
      text-decoration: none;
      font-size: 14px;
      .icon('../res/emoji/euphoria.svg', 24px, 8px);

      &:before {
        vertical-align: middle;
      }
    }

    .start-chatting {
      float: right;
      .raised-filled-button(@brand-color);
      line-height: 24px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  nav {
    display: block;
    background: #77a377;
    box-shadow: 0 -4px 8px -4px fade(black, 15%) inset;

    ul, li {
      display: inline;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    .label, a {
      color: white;
    }

    .label {
      opacity: .75;
      margin-right: 30px;
    }

    a {
      display: inline-block;
      text-decoration: none;
      padding: 10px 15px;
      margin: 0 15px;
      margin-left: -5px;
    }

    li.selected a {
      position: relative;
      background: white;
      color: black;
      box-shadow:
        -8px 0 8px -8px fade(black, 25%),
        8px 0 8px -8px fade(black, 25%);
      z-index: 15;

    }

    @media (max-width: @mobile-breakpoint) {
      .label {
        display: none;
      }

      a {
        padding: 5px 10px;
        margin: 0;
      }
    }
  }

  .container.main {
    margin: 40px auto;
    flex: 1;

    @media (max-width: @thin-breakpoint) {
      margin: 15px auto;
    }
  }

  footer {
    background: #f4f4f4;
    text-align: right;
    padding: 12px 0;
    line-height: 2em;
    box-shadow: 0 4px 8px -4px fade(black, 15%) inset;

    a {
      display: inline-block;
      text-decoration: none;
      color: fade(black, 50%);
      padding-left: 26px;
      white-space: nowrap;
    }

    @media (max-width: @thin-breakpoint) {
      text-align: center;

      a {
        padding: 0 10px;
      }
    }
  }
}

.policy {
  font-size: 15px;
  max-width: 50em;
  line-height: 1.5em;

  h1 {
    font-size: 1.65em;
    font-weight: normal;
    margin-bottom: 1.25em;

    em {
      margin-left: .5em;
      font-size: .6em;
      font-style: normal;
      opacity: .5;
      white-space: nowrap;
    }
  }

  h2 {
    margin-top: 1.5em;
    margin-bottom: 0;
    font-size: 1.35em;

    em {
      margin-left: .5em;
      font-size: .85em;
      font-weight: normal;
      font-style: normal;
    }
  }

  a {
    color: desaturate(blue, 50%);
  }

  hr {
    border: none;
    border-bottom: 1px solid fade(black, 15%);
    margin: 2em 0;
  }

  .credits {
    opacity: .5;

    a {
      color: black;
    }
  }

  @media (max-width: @thin-breakpoint) {
    h1 em {
      display: block;
      margin-left: 0;
      margin-top: .5em;
    }
  }
}

body.welcome {
  // thanks to http://subtlepatterns.com/symphony/
  background: data-uri('./symphony.png');

  @keyframes raise {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }

  .container.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .splash {
    margin: 30px 0;
  }

  .clicky {
    @size: 200px;
    position: relative;
    display: inline-block;
    width: @size;
    height: @size;
    margin-top: -30px;
    border-radius: 100%;

    animation-name: grow;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;
    @keyframes grow {
      0% {
        transform: scale(1.15);
        opacity: 0;
      }
      100% {
        transform: none;
        opacity: 1;
      }
    }

    .logo, .colors {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 100%;
      overflow: hidden;
    }

    .logo {
      background: data-uri('./home-outline.svg') no-repeat center center;
      background-size: contain;
      text-indent: -9999px;
      z-index: 5;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: transform .1s ease-out;
      box-shadow: 0 1px 6px fade(black, 25%);
    }

    .delay-parts(@duration) {
      .a {
        animation-delay: (-1 / 5) * @duration;
      }

      .b {
        animation-delay: (-2 / 5) * @duration;
      }

      .c {
        animation-delay: (-3 / 5) * @duration;
      }

      .d {
        animation-delay: (-4 / 5) * @duration;
      }

      .e {
        animation-delay: (-5 / 5) * @duration;
      }
    }

    .colors {
      padding: 8px;
      font-size: 0;
      transform: perspective(0);  // fix overflow clipping in Chrome

      .delay-parts(.35s);

      & > div {
        display: inline-block;
        width: 100% / 5;
        height: 100%;

        animation-name: tron;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        animation-duration: .75s;
        @keyframes tron {
          0% {
            transform: translateY(1500px);
          }
          100% {
            transform: none;
          }
        }
      }

      .a {
        background: #d95d3f;
      }

      .b {
        background: #f29526;
      }

      .c {
        background: #5abe6b;
      }

      .d {
        background: #4d97cb;
      }

      .e {
        background: #7f62b6;
      }
    }

    @keyframes scramble {
      0% {
        background: #d95d3f;
      }

      20% {
        background: #f29526;
      }

      40% {
        background: #5abe6b;
      }

      60% {
        background: #4d97cb;
      }

      80% {
        background: #7f62b6;
      }

      100% {
        background: #d95d3f;
      }
    }

    &:hover .logo, .logo:focus {
      transform: scale(1.05);
      transition-duration: .2s;
      outline: none;
    }

    &:hover .colors, .logo:focus + .colors {
      .delay-parts(.45s);

      & > div {
        animation-name: scramble;
        animation-iteration-count: infinite;
        animation-timing-function: steps(1);
        animation-duration: .45s;
      }
    }

    &:active {
      .logo {
        transition-duration: .025s;
        transform: scale(1);
      }
    }
  }

  h1 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
    animation: raise .5s ease .5s 1 normal both;
  }

  .info-box {
    background: fade(white, 80%);
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 10px fade(black, 25%);
    overflow: hidden;
    animation: raise .5s ease .75s 1 normal both;

    .description {
      padding: 16px;
    }

    .messages {
      text-align: left;
      font-size: 15px;
      line-height: 1.25em;
    }

    .start-chatting {
      display: inline-block;
      margin-top: 20px;
      margin-bottom: 10px;
      .raised-filled-button(@brand-color);
      font-size: 1.1em;
      padding: 11px 48px;
      border-radius: 4px;
      box-shadow: 0 4px 4px fade(black, 15%);
    }

    .features {
      display: flex;
      background: #f0f0f0;
      border-top: 1px solid #e5e5e5;
      margin: 0;
      padding: 13px 32px;

      li {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        opacity: .83;
        list-style-type: none;
      }

      .chat {
        .icon('./feature-chat.svg', 42px, 13px, .85);
      }

      .instant {
        .icon('./feature-instant.svg', 38px, 13px, .85);
      }

      .inner {
        display: inline-block;
        text-align: left;

        h2, p {
          margin: 0;
          padding: 0;
        }

        h2 {
          font-size: 14px;
          font-weight: normal;
          margin-bottom: 3px;
        }

        p {
          font-size: 11px;
          opacity: .5;
        }
      }
    }
  }

  footer {
    background: #fafafa;
  }

  @media (min-width: @thin-breakpoint) {
    h1 br {
      display: none;
    }
  }

  @media (max-width: @thin-breakpoint) {
    .clicky {
      width: 125px;
      height: 125px;
    }

    .clicky .colors {
      padding: 5px;
    }

    h1 {
      font-size: 20px;
      margin: 0 30px;
    }

    .info-box {
      margin-top: 15px;
      margin-left: -10px;
      margin-right: -10px;

      .start-chatting {
        width: 100%;
        box-sizing: border-box;
      }

      .features {
        padding: 10px 15px;
      }
    }
  }

  @media (max-width: 320px) {
    .info-box {
      .messages {
        font-size: 14px;
      }

      .start-chatting {
        margin-top: 5px;
      }

      .features {
        display: block;
        margin-bottom: -15px;

        li {
          margin-bottom: 15px;
        }
      }
    }
  }
}

.messages {
  margin: -.25em 0;

  .faux-message {
    font-size: 1em;
    margin: .35em 0;

    .line {
      display: flex;
    }

    .nick {
      display: inline-block;
      align-self: flex-start;
      padding: 0 .4em;
      font-size: .85em;
      border-radius: 2px;
      margin-right: .5em;
      line-height: 1.5em;
    }

    .replies {
      border-left: 2px solid #d2d2d2;
      padding-left: 1.5em;
    }
  }
}
