@import "../lib/defs.less";


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: Droid Sans, sans-serif;
  font-size: 13px;
}

* {
  // disable iOS / Android tap highlighting
  -webkit-tap-highlight-color: transparent;
}

body.welcome {
  overflow: hidden;

  .clicky {
    @size: 300px;
    position: absolute;
    display: block;
    width: @size;
    height: @size;
    margin-left: -@size / 2;
    margin-top: -@size / 2;
    left: 50%;
    top: 50%;
    border-radius: 100%;

    animation-name: grow;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;
    @keyframes grow {
      0% {
        transform: scale(.95);
        opacity: 0;
      }
      100% {
        transform: none;
        opacity: 1;
      }
    }

    .logo, .colors {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 100%;
      overflow: hidden;
    }

    .logo {
      background: data-uri('../res/home.svg') no-repeat center center;
      background-size: contain;
      text-indent: -9999px;
      z-index: 100;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: transform .1s ease-out;
    }

    @animation-duration: .45s;

    .colors {
      padding: 35px;
      font-size: 0;
      opacity: 0;

      & > div {
        display: inline-block;
        width: 100% / 5;
        height: 100%;
        animation-iteration-count: infinite;
        animation-timing-function: steps(1);
        animation-duration: @animation-duration;
      }

      .a {
        background: #d95d3f;
        animation-delay: (-1 / 5) * @animation-duration;
      }

      .b {
        background: #f29526;
        animation-delay: (-2 / 5) * @animation-duration;
      }

      .c {
        background: #5abe6b;
        animation-delay: (-3 / 5) * @animation-duration;
      }

      .d {
        background: #4d97cb;
        animation-delay: (-4 / 5) * @animation-duration;
      }

      .e {
        background: #7f62b6;
        animation-delay: (-5 / 5) * @animation-duration;
      }
    }

    @keyframes scramble {
      0% {
        background: #d95d3f;
      }

      20% {
        background: #f29526;
      }

      40% {
        background: #5abe6b;
      }

      60% {
        background: #4d97cb;
      }

      80% {
        background: #7f62b6;
      }

      100% {
        background: #d95d3f;
      }
    }

    &:hover .logo, .logo:focus {
      background-image: data-uri('../res/home-outline.svg');
      transform: scale(1.05);
      transition-duration: .2s;
      outline: none;
    }

    &:hover .colors, .logo:focus + .colors {
      opacity: 1;

      & > div {
        animation-name: scramble;
      }
    }

    &:active {
      .logo {
        transition-duration: .025s;
        transform: scale(1);
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    text-align: right;

    animation-name: rise;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;
    @keyframes rise {
      0% {
        transform: translateY(10px);
        opacity: 0;
      }
      100% {
        transform: none;
        opacity: 1;
      }
    }

    a {
      padding-left: 26px;
      text-decoration: none;
      color: darkgreen;

      &:last-child {
        padding-right: 30px;
      }
    }
  }
}


@thin-breakpoint: 420px;

body.page {
  header > .container, footer > .container, .container.main {
    max-width: 930px;
    padding: 0 30px;
    margin: 0 auto;

    @media (max-width: @thin-breakpoint) {
      padding: 0 20px;
    }
  }

  header {
    border-bottom: 10px solid @brand-color;
    padding: 14px 0;
    box-shadow: 0 0 8px fade(black, 25%);

    .logo {
      color: black;
      text-decoration: none;
      font-size: 14px;
      .icon('../res/emoji/euphoria.svg', 24px, 8px);

      &:before {
        vertical-align: middle;
      }
    }

    .start-chatting {
      float: right;
      .raised-filled-button(@brand-color);
      line-height: 24px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .container.main {
    margin: 40px auto;
    flex: 1;

    @media (max-width: @thin-breakpoint) {
      margin: 15px auto;
    }
  }

  footer {
    background: #f4f4f4;
    text-align: right;
    padding: 12px 0;
    line-height: 2em;
    box-shadow: 0 4px 8px -4px fade(black, 15%) inset;

    a {
      display: inline-block;
      text-decoration: none;
      color: fade(black, 50%);
      padding-left: 26px;
      white-space: nowrap;
    }

    @media (max-width: @thin-breakpoint) {
      text-align: center;

      a {
        padding: 0 10px;
      }
    }
  }
}

.policy {
  font-size: 15px;
  max-width: 50em;
  line-height: 1.5em;

  h1 {
    font-size: 1.65em;
    font-weight: normal;
    margin-bottom: 1.25em;

    em {
      margin-left: .5em;
      font-size: .6em;
      font-style: normal;
      opacity: .5;
      white-space: nowrap;
    }
  }

  h2 {
    margin-top: 1.5em;
    margin-bottom: 0;
    font-size: 1.35em;

    em {
      margin-left: .5em;
      font-size: .85em;
      font-weight: normal;
      font-style: normal;
    }
  }

  a {
    color: desaturate(blue, 50%);
  }

  hr {
    border: none;
    border-bottom: 1px solid fade(black, 15%);
    margin: 2em 0;
  }

  .credits {
    opacity: .5;

    a {
      color: black;
    }
  }

  @media (max-width: @thin-breakpoint) {
    h1 em {
      display: block;
      margin-left: 0;
      margin-top: .5em;
    }
  }
}
